@font-face {
  font-family: Glacial;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

/*ŠTÝLY PRE FONTY*/
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
h4,
h5,
h6 {
  font-size: 20px;
}
p {
  font-size: 16px;
}

/*ŠTÝLY PRE LAYOUT*/
.container {
  padding: 3% 10% 3% 10%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 15% 2% 10%;
}

/*šírka stĺpcov .col, ktoré sa nachádzajú pod class .row*/
.row .col-25 {
  width: 25%;
}
.row .col-33 {
  width: 33%;
}
.row .col-50 {
  width: 50%;
}
.row .col-100 {
  width: 100%;
}

/*FARBY POZADIA*/
.bg-dark {
  background-color: rgb(25, 25, 25);
}

/*FARBY TEXTOV*/
.text-dark {
  color: rgb(25, 25, 25);
}
.text-white {
  color: white;
}

/*ZAROVNANIE TEXTOV*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .row {
    flex-direction: column;
  }
  .row .col-25,
  .row .col-33,
  .row .col-50 {
    width: 100%;
  }
  .main-menu {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .main-header {
    position: relative;
    top: 0px;
  }

  /*ŠTÝLY PRE HEADER*/
  .main-menu {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .main-header {
    position: relative;
    top: 0px;
  }
  .main-menu.responsive {
    display: block;
    position: absolute;
    background-color: #f7f7f7;
    width: 100%;
    top: 60px;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-menu.responsive li {
    display: block;
    margin-left: 0px;
  }
}
